
.sidhuvud {
display: inline-block;
background-color: black
;
width:100%;
margin-bottom: 20px;

}

.topplogga img
{
  width: 80px;
  height: 80px;
  margin:  -10px 6px -10px 18px;
  /*top right bottom left Vid bara två: första top/bottom andra left/right*/



}
.topplogga {display: inline-block;}

.menycontainer {

  background-color: black;
display: inline-block;
min-width: 600px;
padding: 0 0 0 0;
}

.meny2 {
background-color: black;
display: block;
margin-top: 5px;
}

.bottenbar {
  display: none;
}

.nyhetsrull
{
  background-color: black;
  display: block;
}


.nyhetsrull h3
{
  font-weight:lighter;
  font: arial;
  font-size: 10px;
}




.body
{
    margin: 0;
    background-color: #F9EAE3;
}
.container
{

}

/*.sidhuvud
{
  background-color: black;
  margin-top: 10px;
  width: 100%;

}*/
.sidhuvuditem1
{
  width: 49px;
  margin-top: 5px;
  margin-left: 20px;
  vertical-align: baseline;
}
.sidhuvuditem2
{
  width: 100%;
  vertical-align: middle;
}

h1
{
  font-size: 30px;
  margin-top:0;
  margin-bottom: 0;

}

h2
{
  margin-top: 2px;
}

h3
{
  margin: 0;
  padding-bottom: 5px;
  color: grey;
}

h4
{
    color: #A82521;
    font-size: 13px;
    margin-bottom: 0px;
    margin-top: 20px;

}
h5 {
  color: #A1A1A1;
  font-size: 25px;
  font: sans-serif;
  background-color: black;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
}

img
{
  width: 100%;
}


.boxar {
background-color: #F8EDEC;
padding-left: 10px;
padding-right: 10px;
padding-top: 10px;
padding-bottom: 15px;
border: solid black;
border-width: thin;
border-color: #EEE2DD;
margin-bottom: 10px;
width: 28%;
}

.ytterbox
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.meny
{
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  font: sans-serif;
  font-weight: bold;
  background-color:  #F9EAE3;
  color: #ffffff;
  font-family: sans-serif;
  display: flex;
  justify-content: center;

}
.menyitem
{
  display: inline-block;
  /*justify-content: center;*/
  align-items: center;
  padding-right: 10px;
}



marquee
{
background-color: #F9EAE3;
padding: 5px;
font-size: 20px;
}

p
{
  margin-top: 5px;
  margin-bottom: 5px;
}


.ramruntbox
{
  border: black;
  background-color: #673832;
}

.button {
    background-color: #A82521; /* Green */
    border: none;
    color: white;
    align-self: center;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 2px;

    margin-left: 30%;

}

/* For mobile */
@media (max-width: 600px) {
  .ytterbox {
    display: block;
  }
  .boxar, .menycontainer {width: 100%;
  min-width: 100%;}
  .container {
    width: 100%;
    overflow: hidden;

}
.meny2 {
  display:none;
}
.bottenbar {
  display:flex;
  position:;
  bottom: 0px;


}


 /* YOUR CODE */
}
